@import 'variables';

body.posts {

  .post, .comment {
    header {
      clear: both;
      overflow: auto;
    }
  }

  .post {
    margin: 0 0 3rem;
    padding: 3rem 0 0;
    border-top: $border-width solid $gray-lighter;
    &:first-child {
      padding-top: 0;
      border-top: none;
    }
    h2 {
      font-weight: 400;
      margin: 0 0 0.2rem;
    }
    .actions {
      margin-top: 0.3rem;
    }
    h3 {
      font-weight: 400;
      font-size: 1.2rem;
      color: $gray-light;
      margin: 0;
      clear: both;
    }
    .body {
      margin: 1rem 0;
    }
    img {
      max-width: 100%;
      display: block;
      margin: 0 0 1em;
    }
    footer {
      overflow: auto;
      margin: 0;
      font-style: italic;
      color: $gray-light;
    }
  }

  .comments {
    padding: 1rem 0 0;
    header {
      margin: 0 0 1rem;
    }
    h3 {
      margin: 0 0 2rem;
      padding: 0 0 1rem;
      border-bottom: 3px double $gray-lighter;
    }
    .comment {
      margin: 2rem 0 1rem;
      padding: 0 0 1rem;
      border-bottom: 1px solid $gray-lighter;
      &:last-child {
        border-bottom: none;
      }
    }
    time {
      color: $gray-light;
      font-size: 0.9rem;
    }
    .blank {
      color: $gray-light;
      margin: 2em 0;
      font-style: italic;
    }
  }

  .new-comment {
    padding: 2rem 0 0;
    border-top: 3px double $gray-lighter;
    h4 {
      margin: 0 0 2rem;
    }
  }

  .post-form {
    textarea {
      height: 20em;
    }
  }

  .comment-form {
    margin: 1rem 0 2rem;
    padding: 0 0 2rem;
    textarea {
      height: 10em;
    }
  }

}
